<!DOCTYPE html>
<html>
  <head>
    <title>RSS Facts Feed - Home</title>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <div class="container">
      <h1>All Posts</h1>
      <% include partials/posts %>
    </div>
    <% include partials/footer %>
  </body>
</html>